@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--font-barlow), sans-serif;
}

@layer components {
  .banner {
    @apply flexCenter relative h-auto w-full flex-col px-4 py-10 lg:h-[calc(100vh-72px)] lg:py-0;
  }

  .buttonBase {
    @apply px-5 py-3 text-lg font-semibold text-white;
  }

  .mainTitle {
    @apply text-4xl font-extrabold text-white md:text-5xl;
  }

  .blueTitle {
    @apply;
  }

  .secondaryTitle {
    @apply text-4xl font-extrabold text-black;
  }

  .servicesList {
    @apply grid grid-cols-1 gap-14 lg:grid-cols-2
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1280px];
  }

  .w-95 {
    @apply w-[95%]
  }

  .custom-section {
    @apply w-95  rounded-2xl bg-slate-100 py-14 shadow-xl;
  }

  .gapCol16 {
    @apply flex flex-col gap-4;
  }

  .gap8 {
    @apply flex flex-col gap-2;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexEnd {
    @apply flex items-end justify-center;
  }

  .flexRow {
    @apply flex flex-row;
  }

  .overlay {
    @apply inset-0 z-10 bg-black/75;
  }

  .text-for-seo {
    @apply text-[1px] text-transparent;
  }
}
