@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--font-barlow), sans-serif;
}

@layer components {
  .banner {
    @apply flexCenter relative h-auto w-full flex-col py-10 lg:h-[calc(100vh-72px)] lg:py-0;
  }

  .buttonBase {
    @apply rounded-3xl px-5 py-3 text-lg font-semibold text-white duration-300;
  }

  .mainTitle {
    @apply text-4xl font-extrabold text-white tracking-wider md:text-5xl xl:text-6xl;
  }

  .secondaryTitle {
    @apply text-4xl font-extrabold text-black;
  }

  .servicesList {
    @apply grid grid-cols-1 gap-14 lg:grid-cols-2;
  }

  .smallTitle {
    @apply text-2xl font-semibold text-black;
  }

  .SubmitButton {
    @apply buttonBase mt-4 bg-primaryBlue hover:brightness-125;
  }

  .creditsTitle {
    @apply text-4xl font-semibold text-black;
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1280px];
  }

  .w-95 {
    @apply w-[95%];
  }

  .custom-section {
    @apply rounded-2xl bg-slate-100 py-14 shadow-xl 2xl:w-95;
  }

  .gapCol16 {
    @apply flex flex-col gap-4;
  }

  .gapCol24 {
    @apply flex flex-col gap-6;
  }

  .gapCol8 {
    @apply flex flex-col gap-2;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexEnd {
    @apply flex items-end justify-center;
  }

  .flexRow {
    @apply flex flex-row;
  }

  .overlay {
    @apply inset-0 bg-black/75;
  }

  .text-for-seo {
    @apply text-[1px] text-transparent;
  }

  .mainNav {
    @apply h-screen fixed left-0 top-[64px] w-full px-4 duration-300 lg:static lg:h-auto lg:w-auto lg:bg-transparent;
  }

  .input-focus {
    @apply focus:outline-2 focus:outline-green-600;
  }

  .input-error {
    @apply outline outline-2 outline-red-600;
  }

  .message-error {
    @apply text-nowrap text-xs font-normal text-red-600;
  }

  .input-style {
    @apply input-focus rounded-3xl bg-gray-50 px-4 py-2 text-base font-medium text-black;
  }

  .popup {
    @apply w-95 gapCol8 relative left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform rounded-lg bg-white p-6 shadow-lg md:max-w-[600px];
  }

  .close-popup {
    @apply absolute right-2 top-0 cursor-pointer p-2 text-xl font-semibold text-black;
  }

  .form-pages {
    @apply flex flex-col-reverse gap-16 lg:flex-row;
  }

  .form-container {
    @apply w-full md:mx-auto md:w-[90%] lg:w-[70%];
  }

  .container-flex {
    @apply block md:flex md:items-center md:gap-2;
  }

  .list-privacy-policy {
    @apply ml-10 flex list-disc flex-col gap-2 text-black;
  }

  .sub-title-privacy-policy {
    @apply text-2xl font-bold text-black;
  }

  .contact-information-text {
    @apply text-base font-semibold text-black;
  }

  .titleH2 {
    @apply text-2xl font-bold text-black md:text-3xl;
  }

  .cookie-container {
    @apply fixed bottom-0 left-0 z-50 w-screen bg-gray-900/90;
  }
}
